/* Begin Custom CSS */

body {
    background-color: #ebebeb;
}




@media print {
  @page 
  {
      size: auto;   /* auto is the initial value */
      margin: 0mm;  /* this affects the margin in the printer settings */
      size: landscape;
  }
  
  .invoice {
    padding:30px;
  }
}

#right-side h2:not(:first-child){
	margin-top: 50px;
}

#form-input {
    width: 500px;
    margin: 0 auto;
}

.logo img {
	width:40px;
	margin-right:5px;
}

.logo-login {
	width:150px;
}